<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Feast Forward</title>
  <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body>

  <div class="dashboard">

    <!-- Left side feature vocche panel -->
    <aside class="sidebar">
      <h2>{{ user.restaurant_name }}</h2>

      <nav>
        {% if services.grocery %}
        <a href="#" onclick="openGrocery()">🥦 Grocery Management</a>
        {% endif %}
        {% if services.staff %}
        <a href="#" onclick="openStaff()">👨‍🍳 Staff Management</a>
        {% endif %}
        {% if services.combo %}
        <a href="#" onclick="openComboModal()">🍱 Combo Creation</a>
        {% endif %}
      </nav>
      <div class="sidebar-bottom">
        <a href="/logout" class="logout-btn">🚪 Logout</a>
      </div>
    </aside>

    <!-- Right side vunde Prediction page -->
    <main class="content">
      {% if error %}
      <div style="color:red; margin-bottom:15px;">
        {{ error }}
      </div>
      {% endif %}

      <header>
        <h1>📈 Meal Demand Prediction</h1>
        <p>Smarter predictions with better data</p>
      </header>


      <!-- sales data upload cheyadaniki -->
      <section class="card upload-card">

        <div class="upload-header">
          <h3>📤 Upload Menu Sales Data</h3>
          <p>Add all menu items first, then process together</p>
        </div>

        <form method="POST" action="/process-all-sales" enctype="multipart/form-data">

          <div id="menuUploadContainer">
            <div class="csv-hint">
              <strong>Choose a CSV file to upload! 📂</strong>
            </div>
            <div class="menu-row">
              <input type="text" name="menu_items[]" placeholder="Menu Item Name" required>
              <input type="file" name="sales_csvs[]" accept=".csv" required>

            </div>


          </div>

          <div class="actions">
            <button type="button" class="add-btn" onclick="addRow()">
              ➕ Add Menu Item
            </button>

            <button type="submit" class="process-btn">
              ⚙️ Process All Data
            </button>
          </div>



        </form>

      </section>

      <!-- predictions vocche table -->
      <section class="card slide-up">
        <h3>Prediction Results</h3>

        <table>
          <thead>
            <tr>
              <th>Menu Item</th>
              <th>Prediction Date & Time</th>
              <th>Predicted Servings</th>
            </tr>
          </thead>


          <tbody>
            {% if predictions %}
            {% for p in predictions %}
            <tr>
              <td>{{ p[0] }}</td>
              <td>{{ p[1] }}</td>
              <td>{{ p[2] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="3" style="text-align:center; opacity:0.6;">
                No predictions yet
              </td>
            </tr>
            {% endif %}
          </tbody>

        </table>

        <button class="predict-btn" onclick="openPredict()">
          Predict Demand
        </button>
      </section>

      {% if grocery_results %}
      <section class="card">
        <h3>📦 Required Grocery List</h3>
        <p>
          Menu: <strong>{{ selected_menu }}</strong><br>
          Servings: <strong>{{ entered_servings }}</strong>
        </p>

        <table>
          <thead>
            <tr>
              <th>Ingredient</th>
              <th>Required Quantity</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
            {% for item in grocery_results %}
            <tr>
              <td>{{ item.ingredient }}</td>
              <td>{{ item.required }}</td>
              <td>{{ item.unit }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <button onclick="window.print()">🖨 Print</button>
      </section>
      {% endif %}

      {% if staff_results %}
      <section class="card">
        <h3>👨‍🍳 Daily Staff Requirement</h3>

        <p>
          Menu: <strong>{{ staff_results.menu_item }}</strong><br>
          Servings: <strong>{{ staff_results.servings }}</strong>
        </p>

        <table>
          <thead>
            <tr>
              <th>Cooks</th>
              <th>Helpers</th>
              <th>Cleaners</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ staff_results.cooks }}</td>
              <td>{{ staff_results.helpers }}</td>
              <td>{{ staff_results.cleaners }}</td>
            </tr>
          </tbody>
        </table>

        <button onclick="window.print()">🖨 Print</button>
      </section>
      {% endif %}
      {% if staff_history %}
      <section class="card">
        <h3>📊 Staff Planning History</h3>

        <table>
          <thead>
            <tr>
              <th>Menu Item</th>
              <th>Servings</th>
              <th>Cooks</th>
              <th>Helpers</th>
              <th>Cleaners</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for s in staff_history %}
            <tr>
              <td>{{ s[0] }}</td>
              <td>{{ s[1] }}</td>
              <td>{{ s[2] }}</td>
              <td>{{ s[3] }}</td>
              <td>{{ s[4] }}</td>
              <td>{{ s[5] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      {% endif %}
      {% if combos %}
      <div class="card">
        <h3>Predicted Combos</h3>
        <table>
          <tr>
            <th>Combo Name</th>
            <th>Discount</th>
            <th>Final Price</th>
            <th>Date</th>
          </tr>

          {% for c in combos %}
          <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[2] }}%</td>
            <td>₹{{ c[1] }}</td>
            <td>{{ c[3] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}



    </main>
  </div>

  <!-- pop up lo vocche display -->
  <div class="modal" id="predictModal">
    <div class="modal-card">

      <h2>🔮 Meal Demand Prediction</h2>

      <form method="POST" action="/predict" id="predictForm">


        <select name="menu_item" required>
          <option value="" disabled selected>Select Menu Item</option>
          {% for item in menu_items %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>

        <input type="date" name="date" required>

        <input type="number" name="temperature" placeholder="Temperature (°C)">

        <input name="event" placeholder="Local Event (optional)">

        <select name="holiday">
          <option value="0">No Holiday</option>
          <option value="1">Holiday</option>
        </select>

        <!-- ungli -->
        <select name="meal_period" required>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
        </select>

        <select name="weather" required>
          <option value="Sunny">Sunny</option>
          <option value="Rainy">Rainy</option>
          <option value="Cloudy">Cloudy</option>
        </select>
        <!-- ungli : end -->

        <button type="submit">Predict</button>
      </form>

      <!-- Result -->
      {% if prediction %}
      <div class="prediction-result">
        <h3> Prediction Result </h3>

        <p>
          Estimated Servings:
          <strong>{{ prediction.demand }}</strong>
        </p>

        <p>
          Demand ID:
          <strong>{{ prediction.id }}</strong>
        </p>

        <form method="POST" action="/save-prediction">
          <input type="hidden" name="prediction_uid" value="{{ prediction.id }}">
          <input type="hidden" name="menu_item" value="{{ prediction.menu_item }}">
          <input type="hidden" name="servings" value="{{ prediction.demand }}">
          <button class="save-btn">Save to Dashboard</button>
        </form>

      </div>
      {% endif %}

      <span class="close" onclick="closePredict()">✖</span>

    </div>
  </div>
  <!-- grocery module ki vocche pop up -->
  <div class="modal" id="groceryModal">
    <div class="modal-card">

      <h2>🥦 Grocery Setup</h2>

      {% if not menu_items %}
      <p>Your menu is empty.</p>
      <p>Please upload sales data and train menu items first.</p>
      {% else %}

      <form method="POST" action="/grocery-setup">

        <select name="menu_item" required>
          <option value="" disabled selected>Select Menu Item</option>
          {% for item in menu_items %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>

        <div id="ingredientsContainer" style="margin-top:20px;">
          <div class="grid">
            <input type="text" name="ingredient_name[]" placeholder="Ingredient Name" required>
            <input type="number" step="0.01" name="qty_per_serving[]" placeholder="Qty per Serving" required>
            <input type="text" name="unit[]" placeholder="Unit (kg, liters, pcs)" required>
          </div>
        </div>

        <button type="button" onclick="addIngredientRow()" class="add-btn">
          ➕ Add Ingredient
        </button>

        <button type="submit">
          Save Recipe
        </button>

        <hr style="margin:20px 0;">
        {% if recipe_exists %}
        <button type="button" class="process-btn" onclick="switchToManage()">
          🛒 Manage Groceries
        </button>
        {% endif %}

      </form>

      {% endif %}

      <span class="close" onclick="closeGrocery()">✖</span>

    </div>
  </div>
  <div class="modal" id="manageGroceryModal">
    <div class="modal-card">

      <h2>🛒 Manage Groceries</h2>

      {% if not menu_items %}
      <p>Your menu is empty.</p>
      {% else %}

      <form method="POST" action="/calculate-groceries">

        <select name="menu_item" required>
          <option value="" disabled selected>Select Menu Item</option>
          {% for item in menu_items %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>

        <input type="number" step="1" name="servings" placeholder="Enter Servings" required>

        <button type="submit">
          Calculate Requirements
        </button>

      </form>

      {% endif %}

      <span class="close" onclick="closeManageGrocery()">✖</span>

    </div>
  </div>
  <!-- Staff Management ki ochhe pop up-->
  <div class="modal" id="staffModal">
    <div class="modal-card">

      <h2>👨‍🍳 Staff Management</h2>

      {% if not menu_items %}
      <p>Your menu is empty.</p>
      <p>Please upload and train menu items first.</p>
      {% else %}

      <form method="POST" action="/save-staff-config">

        <div id="staffContainer">

          <div class="grid" style="margin-top:15px;">
            <select name="menu_item[]" required>
              <option value="" disabled selected>Select Menu Item</option>
              {% for item in menu_items %}
              <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>

            <input type="number" name="base_servings[]" placeholder="Base Servings (e.g. 100)" required>

            <input type="number" name="cooks[]" placeholder="No. of Cooks" required>

            <input type="number" name="helpers[]" placeholder="No. of Helpers" required>

            <input type="number" name="cleaners[]" placeholder="No. of Cleaners" required>
          </div>

        </div>

        <button type="button" class="add-btn" onclick="addStaffRow()">
          ➕ Add Menu Item
        </button>

        <button type="submit">
          Save Staff Configuration
        </button>

      </form>

      <hr style="margin:25px 0;">


      <form method="POST" action="/calculate-staff">

        <select name="menu_item" required>
          <option value="" disabled selected>Select Menu Item</option>
          {% for item in menu_items %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>

        <input type="number" name="predicted_servings" placeholder="Enter Predicted Servings" required>

        <button type="submit" class="process-btn">
          Calculate Staff
        </button>

      </form>

      {% endif %}

      <span class="close" onclick="closeStaff()">✖</span>

    </div>
  </div>
  <!-- COMBO MODAL -->
  <div class="modal" id="comboModal">
    <div class="modal-card">

      <span class="close" onclick="closeComboModal()">✖</span>

      <h2>Create Smart Combo</h2>

      {% if menu_items|length < 3 %}
    <div class="error-msg">
        Minimum 3 food items required to make combo.
        Please prepare menu first!
    </div>
    {% else %}

    <form method="post" action="/prepare-combo">

      <div id="comboItemsContainer">

        <!-- <div class="menu-row">
          <select name="menu_item[]" required>
            {% for item in menu_items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>

          <input type="number" name="predicted_servings[]" placeholder="Predicted Servings" required>

          <input type="number" name="sold_quantity[]" placeholder="Sold Quantity" required>
        </div> -->
        <div class="menu-row">

          <select name="menu_item[]" required>
            {% for item in menu_items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>

          <input type="number" name="predicted_servings[]" placeholder="Predicted Servings" required>

          <input type="number" name="sold_quantity[]" placeholder="Sold Quantity" required>

          <input type="number" step="0.01" name="cost_per_item[]" placeholder="Cost Per Item (₹)" required>

        </div>


      </div>

      <button type="button" onclick="addComboRow()" class="add-btn">
        + Add Item
      </button>

      <button type="submit" class="process-btn">
        Submit
      </button>

    </form>

    {% endif %}
    {% if show_discount_options %}

    <div class="prediction-result">

      <h3>Select Discount</h3>

      <form method="post" action="/create-combo">

        <input type="hidden" name="combo_data" value='{{ combo_data|tojson }}'>
        <input type="hidden" name="total_cost" value="{{ total_cost }}">
        <select name="discount" required>
          <option value="-3">-3%</option>
          <option value="-5">-5%</option>
          <option value="-10">-10%</option>
          <option value="-15">-15%</option>
          <option value="-20">-20%</option>
        </select>

        <button type="submit" class="save-btn">
          Make Combo
        </button>

      </form>

    </div>

    {% endif %}
  </div>
  </div>





  {% if show_discount_options %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      openComboModal();
    });
  </script>
  {% endif %}





</body>

<script>
  function openPredict() {
    document.getElementById("predictModal").style.display = "flex";
  }

  function closePredict() {
    document.getElementById("predictModal").style.display = "none";
  }

  function addRow() {
    const container = document.getElementById("menuUploadContainer");

    const row = document.createElement("div");
    row.className = "menu-row";

    row.innerHTML = `
        <input
          type="text"
          name="menu_items[]"
          placeholder="Menu Item Name"
          required
        >
        <input
          type="file"
          name="sales_csvs[]"
          accept=".csv"
          required
        >
      `;

    container.appendChild(row);
  }

  function openGrocery() {
    document.getElementById("groceryModal").style.display = "flex";
  }

  function closeGrocery() {
    document.getElementById("groceryModal").style.display = "none";
  }

  function addIngredientRow() {
    const container = document.getElementById("ingredientsContainer");

    const row = document.createElement("div");
    row.className = "grid";
    row.style.marginTop = "10px";

    row.innerHTML = `
    <input type="text" name="ingredient_name[]" placeholder="Ingredient Name" required>
    <input type="number" step="0.01" name="qty_per_serving[]" placeholder="Qty per Serving" required>
    <input type="text" name="unit[]" placeholder="Unit (kg, liters, pcs)" required>
  `;

    container.appendChild(row);
  }
  function openManageGrocery() {
    document.getElementById("manageGroceryModal").style.display = "flex";
  }

  function closeManageGrocery() {
    document.getElementById("manageGroceryModal").style.display = "none";
  }
  function switchToManage() {
    closeGrocery();
    openManageGrocery();
  }
  window.addEventListener("DOMContentLoaded", function () {
    const autoOpen = "{{ auto_open_manage }}" === "True";

    if (autoOpen) {
      openManageGrocery();
    }
  });
  function openStaff() {
    document.getElementById("staffModal").style.display = "flex";
  }

  function closeStaff() {
    document.getElementById("staffModal").style.display = "none";
  }

  function addStaffRow() {
    const container = document.getElementById("staffContainer");

    const row = document.createElement("div");
    row.className = "grid";
    row.style.marginTop = "10px";

    row.innerHTML = `
    <select name="menu_item[]" required>
      <option value="" disabled selected>Select Menu Item</option>
      {% for item in menu_items %}
        <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>

    <input type="number" name="base_servings[]" 
           placeholder="Base Servings" required>

    <input type="number" name="cooks[]" 
           placeholder="No. of Cooks" required>

    <input type="number" name="helpers[]" 
           placeholder="No. of Helpers" required>

    <input type="number" name="cleaners[]" 
           placeholder="No. of Cleaners" required>
  `;

    container.appendChild(row);
  }


  function openComboModal() {
    document.getElementById("comboModal").style.display = "flex";
  }

  function closeComboModal() {
    document.getElementById("comboModal").style.display = "none";
  }

  function addComboRow() {

    const container = document.getElementById("comboItemsContainer");

    const row = document.createElement("div");
    row.classList.add("menu-row");

    row.innerHTML = `
    <select name="menu_item[]" required>
      {% for item in menu_items %}
      <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>

    <input type="number"
           name="predicted_servings[]"
           placeholder="Predicted Servings"
           required>

    <input type="number"
           name="sold_quantity[]"
           placeholder="Sold Quantity"
           required>

    <input type="number"
           step="0.01"
           name="cost_per_item[]"
           placeholder="Cost Per Item (₹)"
           required>
  `;

    container.appendChild(row);
  }


</script>

</html>